.Hero {
  width: 100%;
  background-color: #F6F6F6;

  .__container {
    max-width: 1600px;
    height: 680px;
    margin: 0 auto;

    .__slider {
      width: 100%;
      height: 100%;

      .__slide {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        background-image: url("../../assets/backgroud_hero.jpg");
        background-position: center;
        background-size: cover;

        .__text {
          width: 50%;
          padding: 0 45px;

          .__h1 {
            color: $rosa;
          }

          .__line {
            width: 300px;
            border: 1px solid $rosa;
            margin: 15px 0;
          }
        }

        .__figure {
          position: relative;
          height: 100%;
          width: 50%;

          .__image {
            position: absolute;
            bottom: 0;
            top: 0;
            height: 100%;
          }
        }


      }
    }
  }
}