@media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (min-width: 1024px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $oro-rosa;
    opacity: 0.8;
    color: $bianco;

    .__Header {
      width: 1400px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;


      .__logo {
        width: 70px;
        height: 70px;
      }

      .__ul {
        display: flex;
        width: 800px;
        justify-content: center;
        gap: 28px;
        align-items: center;
        font-size: 20px;
        font-family: 'Roboto',
          sans-serif;
        cursor: pointer;
      }
    }
  }

}