//Palette colori
//sfondo navbar
$lilla : #ba83d5;
// sfondo sito web
$grigio: #F6F6F6;
$bianco: #FFFFFF;
// sfondo pulsanti
$rosa: #F7CAC9;
//dettagli decorativi
$argento: #C0C0C0;
$oro-rosa: #D1A878;